<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NaturalNets</title>
  <link rel="stylesheet" type="text/css" src="css/index.css">

</head>

<body>
  <main class="container">
    <div class="box" id="settings">
      <button id="btn_settings" onclick=set()>Settings</button>
    </div>
    <div class="box">
      <button class="btn_menu" id="btn_txt_printer" onclick=set()>Text Printer</button>
      <button class="btn_menu" id="btn_calculator" onclick=set()>Calculator</button>
      <button class="btn_menu" id="btn_car_config" onclick=set()>Car Configuration</button>
    </div>
    <div class="box">
      <div id="content">
        HALLLOO
      </div>
    </div>
   

  </main>
  
</body>
<script type="application/javascript" src="js/index.js"></script>
<!-- <script type="application/javascript" src="../node_modules/bootstrap/scss/bootstrap" ></script> -->
</html>