<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaturalNets</title>
    <link rel="stylesheet" type="text/css" href="/css/main/basicStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/setting/setting.css">

</head>

<body>
    <main class="container">
        <div class="box" id="txt_settings">Configure the settings of your model</div>
        <div class="box">
            <div class="btn-group-vertical btn-group" role="group" aria-label="menu"
                style="margin-top: 5%;margin-left: 5%; margin-right: 5%;width: 80%;">
                <a role="button" id="btn_txt_printer" class="btn btn-primary mt-2" href="/setting/txt_printer_page">Text
                    Printer</a>
                <a role="button" id="btn_calculator" class="btn btn-primary mt-2"
                    href="/setting/calculator_page">Calculator</a>
                <a role="button" id="btn_car_config" class="btn btn-primary mt-2" href="/setting/car_config_page">Car
                    Configuraton</a>
                <a role="button" id="btn_car_config" class="btn btn-primary mt-2"
                    href="/setting/fig_printer_page">Figure
                    Printer</a>
            </div>
        </div>
        <div class="box" style="align-items: center;flex-direction: column;">
            <div class="txt_config">
                <p>Number of words:</p>
                <select class="selec_number" onchange="saveNumber()" name="number" id="number">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="400">400</option>
                </select>
            </div>
            <div class="d-flex flex-row">
                <div class="txt_config">
                    <p>Front size:</p>
                    <select class="selec_font_size" onchange="saveFontSize()" name="font_size" id="font_size">
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <div class="txt_config">
                    <p>Front:</p>
                    <select class="selec_font" onchange="saveFont()" name="font" id="font">
                        <option value="DejaVu Sans">DejaVu Sans</option>
                        <option value="Liberation Mono">Liberation Mono</option>
                        <option value="Nimbus Roman">Nimbus Roman</option>
                        <option value="Ubuntu">Ubuntu</option>
                    </select>
                </div>
            </div>
            <div class="txt_config">
                <p>Color of text:</p>
                <input type="radio" id="red" onchange="saveColor()" name="color" value="red">
                <label for="red">Red</label><br>
                <input type="radio" id="blue" onchange="saveColor()" name="color" value="blue">
                <label for="blue">Blue</label><br>
                <input type="radio" id="green" onchange="saveColor()" name="color" value="green">
                <label for="green">Green</label><br>
                <input type="radio" id="black" onchange="saveColor()" name="color" value="black" checked>
                <label for="black">Black</label>
            </div>
            <div class="txt_config" id="cb_group">
                <input type="checkbox" id="bold" onchange="saveStyle()" name="style" />
                <label for="bold">Bold</label><br>
                <input type="checkbox" id="italic" onchange="saveStyle()" name="style" />
                <label for="italic">Italic</label><br>
                <input type="checkbox" id="underline" onchange="saveStyle()" name="style" />
                <label for="underline">Underline</label><br>
            </div>
            <a class="btn btn-primary" id="btn_close" href="../txt_printer" role="button">Close</a>
        </div>
    </main>
</body>
<script src="../js/setting/txt_printer_page.js"></script>
<script type="application/javascript" src="../js/bootstrap.bundle.min.js"></script>

</html>