<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaturalNets</title>
    <link rel="stylesheet" href="css/main/car_config.css">

</head>

<body>
    <main class="container">
        <div class="box" id="settings">
            <a class="btn btn-primary" id="btn_settings" href="/setting/txt_printer_page" role="button">Settings</a>
        </div>
        <div class="box">
            <a class="btn btn-primary" id="btn_txt_printer" href="/txt_printer" role="button">Text Printer</a>
            <a class="btn btn-primary" id="btn_calculator" href="/calculator" role="button">Calculator</a>
            <a class="btn btn-primary" id="btn_car_config" href="/car_config" role="button">Car Configuraton</a>
            <a class="btn btn-primary" id="btn_fig_printer" href="/fig_printer" role="button">Figure Printer</a>
        </div>
        <div class="box">
            <p id="title_car_config">Choose a car Configuration:</p>
            <div id="selec_car_config_grp">
                <div class="car_config" id="Model_div">
                    <p>First select the car model:</p>
                    <select class="car_config_selec" name="Model" id="Model"
                        onchange="selectedCar();  addOption(getNextConfig(this));displayPropConfig(getNextConfig(this));saveDisplayed(this.id);  saveDisplayed(getNextConfig(this)); saveValue(this.id)"
                        onfocus="this.selectedIndex = -1;">
                    </select>
                </div>
                <div class="car_config" id="Tire_div" style="display: none;">
                    <p>Now choose the tires:</p>
                    <select class="car_config_selec" name="Tire" id="Tire"
                        onchange="addOption(getNextConfig(this)); displayPropConfig(getNextConfig(this)); saveDisplayed(getNextConfig(this)) ; saveValue(this.id)"
                        onfocus="this.selectedIndex = -1;">
                    </select>
                </div>

                <div class="car_config" id="Interior_div" style="display: none;">
                    <p>Next the interior design:</p>
                    <select class="car_config_selec" name="Interior" id="Interior"
                        onchange="addOption(getNextConfig(this)); displayPropConfig(getNextConfig(this)); saveDisplayed(getNextConfig(this)) ; saveValue(this.id)"
                        onfocus="this.selectedIndex = -1;">
                    </select>
                </div>

                <div class="car_config" id="Engine_div" style="display: none;">
                    <p>Finally the propulsion system:</p>
                    <select class="car_config_selec" name="Engine" id="Engine"
                        onchange="displayConfigBtn(); saveDisplayed('btn_display_config'); saveValue(this.id)" onfocus="this.selectedIndex = -1;">
                    </select>
                </div>

            </div>
            <button id="btn_display_config" style="display: none;" onclick=displayResultConfig()>Show
                Configuration</button>
        </div>
    </main>
    <!-- Modal -->
    <div class="modal fade" id="modalConfig" tabindex="-1" aria-labelledby="modalConfigLabel" data-bs-backdrop="static"
        data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfigLabel">Your Car Configuration:</h5>
                </div>
                <div class="modal-body" id="conifgContent">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn_modal_close" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="resetConfig()">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/main/car_config.js"></script>
<script type="application/javascript" src="js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</html>