.form-check.car_config {
  border: 6px solid #0747A6;
  padding: 5px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

#selec_car_config_grp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn_show_config {
  position: relative;
  bottom: 10%;
}
