/*Special style for functionality to print text*/

#txt_content {
  background-color: white;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
}

.figure_ops {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.fig_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
