/*Special style for functionality to print text*/

#txt_content {
  background-color: #14417c;
  border: 3px solid black;
  color: white;
  font-size: 25px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

